doctype html
html
  head
    title
      block title
    base(href='/')
    meta(name='viewport' content='width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css', rel='stylesheet')
    block head
  body
    block page
    include /src/templates/shaders.pug
    include /src/templates/scripts.pug
