doctype html
html
  head
    title
      block title
    link(href='./dist/styles.css', rel='stylesheet')
  body
    block page
    include /src/templates/shaders.pug
    include /src/templates/scripts.pug
