doctype html
html
  head
    title
      block title
    link(href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css', rel='stylesheet')
    block head
  body
    block page
    include /src/templates/shaders.pug
    include /src/templates/scripts.pug
