block vendor_scripts
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.js')
  script(async='async',src='https://www.googletagmanager.com/gtag/js?id=UA-126811218-1')
  script(src='./vendor/jquery.min.js')
  script(src='./vendor/Tween.js')
  script(src='./vendor/three.js')
  script(src='./vendor/ImprovedNoise.js')
  script(src='./vendor/simplex.js')
  script(src='./vendor/Mirror.js')
  script(src='./vendor/threex.keyboardstate.js')
  script(src='./vendor/stats.min.js')
  script(src='./vendor/OrbitControls.js')
  script(src='./vendor/Water.js')
  script(src='./vendor/Sky.js')
block scripts
  script
    | window.dataLayer = window.dataLayer || [];
    | function gtag(){dataLayer.push(arguments);}
    | gtag('js', new Date());
    | gtag('config', 'UA-126811218-1');
