script#landVertexShader(type="x-shader/x-vertex")
  include ../shaders/island.vs
script#landFragmentShader(type="x-shader/x-fragment")
  include ../shaders/island.fs
script#spriteVertexShader(type="x-shader/x-vertex")
  include ../shaders/sprite.vs
script#spriteFragmentShader(type="x-shader/x-fragment")
  include ../shaders/sprite.fs
