extends layout.pug

block append head
  link(href='/dist/website.css', rel='stylesheet')

block append page
  .ui.grid.stackable
    .row
      .column
        #main_menu.ui.five.item.menu.secondary
          .item
            a(href='/comics.html') Comics
          .item
            a(href='/game.html') Game
          .item.logo
            a(href='/')
              img(src='/art/design/Website%20Logo-01.png' title="Kamigen")
          .item
            a(href='/media.html') Media
          .item
            a(href='https://openstudios.xyz/donate.html') Donate
    block content
    .row.footer
      .column.five.wide
        .ui.horizontal.list
          .item
            a(href='https://www.deviantart.com/thezeski/gallery/70776399/kamigen-comics' title='Kamigen Comics on DeviantArt')
              img.ui.mini.image(src='/assets/deviantart.png' alt='Deviantart')
          .item
            a(href='https://www.facebook.com/kamigengame/' title='Kamigen Facebook Page')
              img.ui.mini.image(src='/assets/facebook.png' alt='Facebook')
          .item
            a(href='https://github.com/paulbrzeski/kamigen' title='Github repository')
              img.ui.mini.image(src='/assets/github.png' alt='Github')

      .column.six.wide
        a(href='/')
          img(src='/art/design/Website%20Footer%20Logo-01.png' title="Kamigen")
      .column.five.wide
        a(href='https://openstudios.xyz' title='An Open Studios Project')
          img.ui.image.small(src='/assets/open_studios_logo.png' style='margin: 0 auto')
