extends /src/templates/website.pug

block append title
  | Comics | Kamigen | A Tropical Cyberpunk RPG

block append content
  .row#comics
    .column
      .ui.one.column.stackable.center.aligned.page.grid
        .column.four.wide
          a(href='/comics/cover.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen_Cover.png')
            h3 Cover
        .column.four.wide
          a(href='/comics/page_1.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen_Page%201.png')
            h3 Page 1
        .column.four.wide
          a(href='/comics/page_2.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen_Page%202.png')
            h3 Page 2
        .column.four.wide
          a(href='/comics/page_3.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen_Page%203.png')
            h3 Page 3
        .column.four.wide
          a(href='/comics/page_4.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen_Page%204.png')
            h3 Page 4
        .column.four.wide
          a(href='/comics/page_5.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen_Page%205.png')
            h3 Page 5
        .column.four.wide
          a(href='/comics/page_6.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen_Page%206.png')
            h3 Page 6
        .column.four.wide
          a(href='/comics/page_7.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen_Page%207.png')
            h3 Page 7
        .column.four.wide
          a(href='/comics/page_8.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen_Page%208.png')
            h3 Page 8
        .column.four.wide
          a(href='/comics/page_9.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen_Page%209.png')
            h3 Page 9
        .column.four.wide
          a(href='/comics/page_10.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen_Page%2010.png')
            h3 Page 10
        .column.four.wide
          a(href='/comics/page_11.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen_Page%2011.png')
            h3 Page 11
        .column.four.wide
          a(href='/comics/page_12.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen_Page%2012.png')
            h3 Page 12
        .column.four.wide
          a(href='/comics/page_13.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen_Page%2013.png')
            h3 Page 13
        .column.four.wide
          a(href='/comics/page_14.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen_Page%2014.png')
            h3 Page 14
        .column.four.wide
          a(href='/comics/page_15.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen_Page%2015.png')
            h3 Page 15
        .column.four.wide
          a(href='/comics/page_16.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen_Page%2016.png')
            h3 Page 16
        .column.four.wide
          a(href='/comics/page_17.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen_Page%2017.png')
            h3 Page 17
        .column.four.wide
          a(href='/comics/page_18.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen_Page%2018.png')
            h3 Page 18
        .column.four.wide
          a(href='/comics/page_19.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen_Page%2019.png')
            h3 Page 19
        .column.four.wide
          a(href='/comics/page_20.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen_Page%2020.png')
            h3 Page 20
        .column.four.wide
          a(href='/comics/page_21.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen_Page%2021.png')
            h3 Page 21
        .column.four.wide
          a(href='/comics/page_22.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen_Page%2022.png')
            h3 Page 22
        .column.four.wide
          a(href='/comics/page_23.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2023-01.png')
            h3 Page 23
        .column.four.wide
          a(href='/comics/page_24.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2024-01.png')
            h3 Page 24
        .column.four.wide
          a(href='/comics/page_25.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2025-01.png')
            h3 Page 25
        .column.four.wide
          a(href='/comics/page_26.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2026-01.png')
            h3 Page 26
        .column.four.wide
          a(href='/comics/page_27.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2027-01.png')
            h3 Page 27
        .column.four.wide
          a(href='/comics/page_28.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2028-01.png')
            h3 Page 28
        .column.four.wide
          a(href='/comics/page_29.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2029-01.png')
            h3 Page 29
        .column.four.wide
          a(href='/comics/page_30.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2030-01.png')
            h3 Page 30
        .column.four.wide
          a(href='/comics/page_31.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2031-01.png')
            h3 Page 31
        .column.four.wide
          a(href='/comics/page_32.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2032-01.png')
            h3 Page 32
        .column.four.wide
          a(href='/comics/page_33.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2033-01.png')
            h3 Page 33
        .column.four.wide
          a(href='/comics/page_34.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2034-01.png')
            h3 Page 34
        .column.four.wide
          a(href='/comics/page_35.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2035-01.png')
            h3 Page 35
        .column.four.wide
          a(href='/comics/page_36.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2036-01.png')
            h3 Page 36
        .column.four.wide
          a(href='/comics/page_37.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2037-01.png')
            h3 Page 37
        .column.four.wide
          a(href='/comics/page_38.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2038-01.png')
            h3 Page 38
        .column.four.wide
          a(href='/comics/page_39.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2039-01.png')
            h3 Page 39
        .column.four.wide
          a(href='/comics/page_40.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2040-01.png')
            h3 Page 40
        .column.four.wide
          a(href='/comics/page_41.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2041-01.png')
            h3 Page 41
        .column.four.wide
          a(href='/comics/page_42.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2042-01.png')
            h3 Page 42
        .column.four.wide
          a(href='/comics/page_43.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2043-01.png')
            h3 Page 43
        .column.four.wide
          a(href='/comics/page_44.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2044-01.png')
            h3 Page 44
        .column.four.wide
          a(href='/comics/page_45.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2045-01.png')
            h3 Page 45
        .column.four.wide
          a(href='/comics/page_46.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2046-01.png')
            h3 Page 46