extends /src/templates/website.pug

block append title
  | Comics | Kamigen | A Tropical Cyberpunk RPG

block append content
  .row
    .column
      h2.ui.large.header.center.aligned.inverted Comics
      .ui.one.column.stackable.center.aligned.page.grid       
        .column.four.wide
          img.ui.image.fluid(src='./art/comics/SD/Kamigen_Cover.png')
          h3 Cover
        .column.four.wide
          img.ui.image.fluid(src='./art/comics/SD/Kamigen_Page%201.png')
          h3 Page 1
        .column.four.wide
          img.ui.image.fluid(src='./art/comics/SD/Kamigen_Page%202.png')
          h3 Page 2
        .column.four.wide
          img.ui.image.fluid(src='./art/comics/SD/Kamigen_Page%203.png')
          h3 Page 3
        .column.four.wide
          img.ui.image.fluid(src='./art/comics/SD/Kamigen_Page%204.png')
          h3 Page 4
        .column.four.wide
          img.ui.image.fluid(src='./art/comics/SD/Kamigen_Page%205.png')
          h3 Page 5
        .column.four.wide
          img.ui.image.fluid(src='./art/comics/SD/Kamigen_Page%206.png')
          h3 Page 6
        .column.four.wide
          img.ui.image.fluid(src='./art/comics/SD/Kamigen_Page%207.png')
          h3 Page 7
        .column.four.wide
          img.ui.image.fluid(src='./art/comics/SD/Kamigen_Page%208.png')
          h3 Page 8
        .column.four.wide
          img.ui.image.fluid(src='./art/comics/SD/Kamigen_Page%209.png')
          h3 Page 9
        .column.four.wide
          img.ui.image.fluid(src='./art/comics/SD/Kamigen_Page%2010.png')
          h3 Page 10
        .column.four.wide
          img.ui.image.fluid(src='./art/comics/SD/Kamigen_Page%2011.png')
          h3 Page 11
        .column.four.wide
          img.ui.image.fluid(src='./art/comics/SD/Kamigen_Page%2012.png')
          h3 Page 12
        .column.four.wide
          img.ui.image.fluid(src='./art/comics/SD/Kamigen_Page%2013.png')
          h3 Page 13
        .column.four.wide
          img.ui.image.fluid(src='./art/comics/SD/Kamigen_Page%2014.png')
          h3 Page 14
        .column.four.wide
          img.ui.image.fluid(src='./art/comics/SD/Kamigen_Page%2015.png')
          h3 Page 15
        .column.four.wide
          img.ui.image.fluid(src='./art/comics/SD/Kamigen_Page%2016.png')
          h3 Page 16
        .column.four.wide
          img.ui.image.fluid(src='./art/comics/SD/Kamigen_Page%2017.png')
          h3 Page 17
        .column.four.wide
          img.ui.image.fluid(src='./art/comics/SD/Kamigen_Page%2018.png')
          h3 Page 18
        .column.four.wide
          img.ui.image.fluid(src='./art/comics/SD/Kamigen_Page%2019.png')
          h3 Page 19
        .column.four.wide
          img.ui.image.fluid(src='./art/comics/SD/Kamigen_Page%2020.png')
          h3 Page 20
        .column.four.wide
          img.ui.image.fluid(src='./art/comics/SD/Kamigen_Page%2021.png')
          h3 Page 21
        .column.four.wide
          img.ui.image.fluid(src='./art/comics/SD/Kamigen_Page%2022.png')
          h3 Page 22
        .column.four.wide
          img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2023-01.png')
          h3 Page 23
        .column.four.wide
          img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2024-01.png')
          h3 Page 24
        .column.four.wide
          img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2025-01.png')
          h3 Page 25
        .column.four.wide
          img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2026-01.png')
          h3 Page 26
        .column.four.wide
          img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2027-01.png')
          h3 Page 27
        .column.four.wide
          img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2028-01.png')
          h3 Page 28
        .column.four.wide
          img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2029-01.png')
          h3 Page 29
        .column.four.wide
          img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2030-01.png')
          h3 Page 30
        .column.four.wide
          img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2031-01.png')
          h3 Page 31
        .column.four.wide
          img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2032-01.png')
          h3 Page 32
        .column.four.wide
          img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2033-01.png')
          h3 Page 33
        .column.four.wide
          img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2034-01.png')
          h3 Page 34
