extends /src/templates/website.pug

block append title
  | Comics | Kamigen | A Tropical Cyberpunk RPG

block append content
  .row#comics
    .column
      .ui.one.column.stackable.center.aligned.page.grid
        .column.four.wide
          a(href='/comics/cover.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen_Cover.png')
            h3 Cover
        .column.four.wide
          a(href='/comics/issue_1.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen Issue 01 Cover-01.png')
            h3 Issue 01
        .column.four.wide
          a(href='/comics/issue_2.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen Issue 02 Cover-01.png')
            h3 Issue 02
