extends /src/templates/website.pug

block append title
  | Comics | Kamigen | A Tropical Cyberpunk RPG

block append content
  .row
    .column
      .ui.one.column.stackable.center.aligned.page.grid
        .column.sixteen.wide
          img.ui.image.fluid(src='./art/comics/Kamigen_Cover.png')
        .column.eight.wide
          img.ui.image.fluid(src='./art/comics/Kamigen_Page%201.png')
        .column.eight.wide
          img.ui.image.fluid(src='./art/comics/Kamigen_Page%202.png')
        .column.eight.wide
          img.ui.image.fluid(src='./art/comics/Kamigen_Page%203.png')
        .column.eight.wide
          img.ui.image.fluid(src='./art/comics/Kamigen_Page%204.png')
        .column.eight.wide
          img.ui.image.fluid(src='./art/comics/Kamigen_Page%205.png')
        .column.eight.wide
          img.ui.image.fluid(src='./art/comics/Kamigen_Page%206.png')
        .column.sixteen.wide
          img.ui.image.fluid(src='./art/comics/Kamigen_Page%207.png')
        .column.eight.wide
          img.ui.image.fluid(src='./art/comics/Kamigen_Page%208.png')
        .column.eight.wide
          img.ui.image.fluid(src='./art/comics/Kamigen_Page%209.png')
        .column.eight.wide
          img.ui.image.fluid(src='./art/comics/Kamigen_Page%2010.png')
        .column.eight.wide
          img.ui.image.fluid(src='./art/comics/Kamigen_Page%2011.png')
        .column.eight.wide
          img.ui.image.fluid(src='./art/comics/Kamigen_Page%2012.png')
        .column.eight.wide
          img.ui.image.fluid(src='./art/comics/Kamigen_Page%2013.png')
        .column.eight.wide
          img.ui.image.fluid(src='./art/comics/Kamigen_Page%2014.png')
        .column.eight.wide
          img.ui.image.fluid(src='./art/comics/Kamigen_Page%2015.png')
        .column.sixteen.wide
          img.ui.image.fluid(src='./art/comics/Kamigen_Page%2016.png')
        .column.eight.wide
          img.ui.image.fluid(src='./art/comics/Kamigen_Page%2017.png')
        .column.eight.wide
          img.ui.image.fluid(src='./art/comics/Kamigen_Page%2018.png')
        .column.eight.wide
          img.ui.image.fluid(src='./art/comics/Kamigen_Page%2019.png')
        .column.eight.wide
          img.ui.image.fluid(src='./art/comics/Kamigen_Page%2020.png')
        .column.eight.wide
          img.ui.image.fluid(src='./art/comics/Kamigen_Page%2021.png')
        .column.eight.wide
          img.ui.image.fluid(src='./art/comics/Kamigen_Page%2022.png')
        .column.eight.wide
          img.ui.image.fluid(src='./art/comics/Kamigen%20Page%2023-01.png')
        .column.eight.wide
          img.ui.image.fluid(src='./art/comics/Kamigen%20Page%2024-01.png')
        .column.eight.wide
          img.ui.image.fluid(src='./art/comics/Kamigen%20Page%2025-01.png')
        .column.eight.wide
          img.ui.image.fluid(src='./art/comics/Kamigen%20Page%2026-01.png')
        .column.eight.wide
          img.ui.image.fluid(src='./art/comics/Kamigen%20Page%2027-01.png')
        .column.eight.wide
          img.ui.image.fluid(src='./art/comics/Kamigen%20Page%2028-01.png')
        .column.eight.wide
          img.ui.image.fluid(src='./art/comics/Kamigen%20Page%2029-01.png')
        .column.eight.wide
          img.ui.image.fluid(src='./art/comics/Kamigen%20Page%2030-01.png')




