extends /src/templates/website.pug

block append title
  | Home | Kamigen | A Tropical Cyberpunk RPG

block append scripts
  script(src='./dist/jumbotron.js')

block append content
  .row
    .column#jumbotron
      img.ui.image.fluid(src='./art/resources/screenshots/Kamigen Island shot.PNG')
  .row#container
    .column.ten.wide
      h3.ui.dividing.header.inverted News
      .ui.grid.three.column.wide.very.relaxed.stackable
        .row.main
          .column.sixteen.wide
            .ui.grid.stackable
              .ui.three.column.grid.stackable
                .row
                  .column.five.wide
                    a(href='./art/comics/assets/Character - The Founder-01.png' title='Visit the comics page for more')
                      img.ui.image.fluid.left.floated(src='./art/comics/assets/Character - The Founder-01.png')
                  .column.eleven.wide
                    a(href='./art/comics/assets/Character - The Founder-01.png' title='Visit the comics page for more')
                      h3 New character sheet - The Founder
                    small
                      em 26 March 2020
                    p As part of beginning work on issue 03, I've written up a small character sheet about a new character featured on the cover.
                    p There's also a bit of background info for anyone finishing up issue 02 and want to know more about what's coming next.
                .row
                  .column
                    a(href='/comics/issue_2.html' title='Go to the comics')
                      h3 Pages 58-60 are out!
                    small
                      em 26 March 2020
                    p At last - an explanation for what caused the first water comet to flood the Earth is revealed. Head on to  
                      a(href='/comics/issue_2.html') Issue 02 
                      | to check it out!
                  .column
                    a(href='/comics/issue_2.html' title='Go to the comics')
                      h3 Pages 55-57 are out!
                    small
                      em 11 March 2020
                    p We return to the moon in the latest update to Issue 2, head over to the 
                      a(href='/comics.html') comics page 
                      | to check it out!
                  .column
                    a(href='/comics/issue_2.html' title='Go to the comics')
                      h3 Pages 52-54 are out!
                    small
                      em 3 March 2020
                    p Chapter 2 is almost at a close, catch the latest updates on the 
                      a(href='/comics.html') comics page 
                      |  
    .column.six.wide
      h3.ui.dividing.header.inverted Latest Pages
      a(href='/comics/page_58.html' style='min-height: 250px; display: block; position: relative;')
        img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2058-01.png' style='clip: rect(0px, 675px, 250px, 0px); opacity: 0.5; position: absolute; z-index: 2;')
      h3.ui.dividing.header.inverted About Kamigen
      p Kamigen is a tropical cyberpunk world with aircraft combat. 
        a(href='/game.html') Drop into the pilot seat and join the struggle
        |  or 
        a(href='./comics.html') read the story in the comics
        | .
      p This media franchise is independently developed and needs your feedback and support to progress.
      p 100% open source, you are welcome to clone the Kamigen repository on Github and start working on your own games and media project.
      p This project needs 
        a(href='https://openstudios.xyz/donate.html') your support
        | !
