extends /src/templates/website.pug

block append title
  | Home | Kamigen | A Tropical Cyberpunk RPG

block append scripts
  script(src='./dist/jumbotron.js')

block append content
  .row
    .column#jumbotron
      img.ui.image.fluid(src='./art/resources/screenshots/Kamigen Island shot.PNG')
  .row#container
    .column.ten.wide
      h3.ui.dividing.header.inverted News
      p Coming soon!
    .column.six.wide
      h3.ui.dividing.header.inverted Latest Comic
      p Coming soon!
      h3.ui.dividing.header.inverted About Kamigen
      p Coming soon!
