extends /src/templates/website.pug

block append title
  | Home | Kamigen | A Tropical Cyberpunk RPG

block append scripts
  script(src='./dist/jumbotron.js')

block append content
  .row
    .column#jumbotron
      img.ui.image.fluid(src='./art/resources/screenshots/Kamigen Island shot.PNG')
  .row#container
    .column.ten.wide
      h3.ui.dividing.header.inverted News
      .ui.grid.three.column.wide.very.relaxed.stackable
        .row.main
          .column.sixteen.wide
            .ui.grid.stackable
              .ui.grid.stackable
                .column.five.wide
                  a(href='/game.html' title='Play the test scene!')
                    img.ui.image.fluid(src='/art/resources/screenshots/Screenshot 2019-01-26-1.PNG')  
                .column.eleven.wide
                  a(href='/game.html' title='Play the test scene!')
                    h3 Website is launched!
                  small
                    em 06 January 2020
                  p This website is still under construction however the comic reader is ready to go and there are a few pages of content for you to explore the world of Kamigen.
                  p
                    | If you would like to get in touch about an aspect of the project, please visit the 
                    a(href='') Facebook 
                    | , 
                    a(href='') Deviantart 
                    | and 
                    a(href='') Github 
                    | .
    .column.six.wide
      h3.ui.dividing.header.inverted Latest Comic
      a(href='/comics/page_38.html' style='min-height: 250px; display: block; position: relative;')
        img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2038-01.png' style='clip: rect(0px, 675px, 250px, 0px); opacity: 0.5; position: absolute; z-index: 2;')
      h3.ui.dividing.header.inverted About Kamigen
      p Kamigen is a tropical cyberpunk world with aircraft combat. Drop into the pilot seat and join the struggle or read the story in the comics.
      p This media franchise is independently developed and needs your feedback and support to progress.
      p 100% open source, you are welcome to clone the Kamigen repository on Github and start working on your own games and media project.
