extends /src/templates/website.pug

block append title
  | Home | Kamigen | A Tropical Cyberpunk RPG

block append scripts
  script(src='./dist/jumbotron.js')

block append content
  .row
    .column#jumbotron
      img.ui.image.fluid(src='./art/resources/screenshots/Kamigen Island shot.PNG')
  .row#container
    .column.ten.wide
      h3.ui.dividing.header.inverted News
      .ui.grid.three.column.wide.very.relaxed.stackable
        .row.main
          .column.sixteen.wide
            .ui.grid.stackable
              .ui.three.column.grid.stackable
                .row
                  .column.five.wide
                    a(href='/art/concept/Old Turtle City-01.png' title='Open the fact sheet in a new window' target='_blank')
                      img.ui.image.fluid(src='/art/concept/Old Turtle City-01.png')  
                  .column.eleven.wide
                    a(href='/art/concept/Old Turtle City-01.png' title='Open the fact sheet in a new window'  target='_blank')
                      h3 Old Turtle City: Fact Sheet
                    small
                      em 20 January 2020
                    p Old Turtle City is the default capital of Kamigen island with politicians and businessmen conducting their affairs here amongst the top creative minds and artisans.
                    p This is still concept art, eventually the look of the city will be revised to better match the concepts described in this fact sheet.
                .row
                  .column
                    a(href='/comics.html' title='Go to the comics')
                      h3 Pages 47-48 are out!
                    small
                      em 10 February 2020
                    p New Visayan characters have been introduced in the latest pages, check it out on the 
                      a(href='/comics.html') comics page
                      |  
                  .column
                    a(href='/comics.html' title='Go to the comics')
                      h3 Pages 43-46 are out!
                    small
                      em 30 January 2020
                    p To find out what happens when Ryoko visits the moon, head on over to the 
                      a(href='/comics.html') comics page
                      |  
                  .column
                    a(href='/comics.html' title='Go to the comics')
                      h3 Pages 39-42 are out!
                    small
                      em 11 January 2020
                    p Head on over to the 
                      a(href='/comics.html') comics page
                      |  to catch up on the Kamigen story!
    .column.six.wide
      h3.ui.dividing.header.inverted Latest Pages
      a(href='/comics/page_43.html' style='min-height: 250px; display: block; position: relative;')
        img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2043-01.png' style='clip: rect(0px, 675px, 250px, 0px); opacity: 0.5; position: absolute; z-index: 2;')
      h3.ui.dividing.header.inverted About Kamigen
      p Kamigen is a tropical cyberpunk world with aircraft combat. 
        a(href='/game.html') Drop into the pilot seat and join the struggle
        |  or 
        a(href='./comics.html') read the story in the comics
        | .
      p This media franchise is independently developed and needs your feedback and support to progress.
      p 100% open source, you are welcome to clone the Kamigen repository on Github and start working on your own games and media project.
      p This project needs 
        a(href='https://openstudios.xyz/donate.html') your support
        | !
