extends /src/templates/layout.pug

block append scripts
  script(src='./dist/app.js')

block append title
  | Gameplay Concept | Kamigen

block append page
  #info
    h2 Controls
      ul
        li W - Forward
        li S - Back
        li A - Left
        li D - Right
        li Shift - Down
        li Space - Up
        li Mouse - Move Camera
  #container
  #stats
  #waterTexture
