extends /src/templates/website.pug

block append title
  | Kamigen | A Tropical Cyberpunk RPG

block append content
  .row
    .column
      img.ui.image.fluid(src='./art/resources/screenshots/Kamigen Island shot.PNG')
  .row
    .column.ten.wide
      h3.ui.dividing.header News
      p Coming soon!
    .column.six.wide
      h3.ui.dividing.header Latest Comic
      h3.ui.dividing.header About Kamigen
