extends /src/templates/layout.pug

block append scripts
  script(src='./dist/app.js')

block append title
  | Gameplay Concept | Kamigen

block append page
  #info
    h1 Kamigen
    p Welcome to the Kamigen demo. 
      a(href="https://github.com/paulbrzeski/kamigen") More info
    h2 Controls
    .ui.button W 
    | Forward
    .ui.button S
    | Back
    .ui.button A
    | Left
    .ui.button D
    | Right
    .ui.button Shift
    | Down
    .ui.button Space
    | Up
    .ui.button Mouse
    | Move Camera
  #container
  #stats
  #waterTexture
