extends /src/templates/layout.pug

block append scripts
  script(src='./dist/app.js')

block append title
  | Gameplay Concept | Kamigen

block append page
  #info
    h1 Kamigen
    p Welcome to the Kamigen demo. 
      a(href="https://github.com/paulbrzeski/kamigen") More info
    h2 Controls
    p
      .ui.button
        i.icon.arrow.up
        | W 
      .ui.button
        i.icon.arrow.down
        | S 
    p
      .ui.button
        i.icon.arrow.left
        | A 
      .ui.button
        i.icon.arrow.right
        | D
    p
      .ui.button
        i.icon.fast.backward
        | Shift
      .ui.button
        i.icon.fast.forward
        | Space
    p
      .ui.button 
        i.icon.expand.arrows.alternate
        i.icon.mouse.pointer
        | Move Camera
  #container
  #stats
  #waterTexture
