extends /src/templates/website.pug

block append title
  | Issue 02 | Comics | Kamigen | A Tropical Cyberpunk RPG

block append content
  .row#comics
    .column
      .ui.one.column.stackable.center.aligned.page.grid
        .column.four.wide
          a(href='/comics/issue_2_cover.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen Issue 02 Cover-01.png')
            h3 Cover
        .column.four.wide
          a(href='/comics/page_31.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2031-01.png')
            h3 Page 31
        .column.four.wide
          a(href='/comics/page_32.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2032-01.png')
            h3 Page 32
        .column.four.wide
          a(href='/comics/page_33.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2033-01.png')
            h3 Page 33
        .column.four.wide
          a(href='/comics/page_34.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2034-01.png')
            h3 Page 34
        .column.four.wide
          a(href='/comics/page_35.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2035-01.png')
            h3 Page 35
        .column.four.wide
          a(href='/comics/page_36.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2036-01.png')
            h3 Page 36
        .column.four.wide
          a(href='/comics/page_37.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2037-01.png')
            h3 Page 37
        .column.four.wide
          a(href='/comics/page_38.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2038-01.png')
            h3 Page 38
        .column.four.wide
          a(href='/comics/page_39.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2039-01.png')
            h3 Page 39
        .column.four.wide
          a(href='/comics/page_40.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2040-01.png')
            h3 Page 40
        .column.four.wide
          a(href='/comics/page_41.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2041-01.png')
            h3 Page 41
        .column.four.wide
          a(href='/comics/page_42.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2042-01.png')
            h3 Page 42
        .column.four.wide
          a(href='/comics/page_43.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2043-01.png')
            h3 Page 43
        .column.four.wide
          a(href='/comics/page_44.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2044-01.png')
            h3 Page 44
        .column.four.wide
          a(href='/comics/page_45.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2045-01.png')
            h3 Page 45
        .column.four.wide
          a(href='/comics/page_46.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2046-01.png')
            h3 Page 46
        .column.four.wide
          a(href='/comics/page_47.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2047-01.png')
            h3 Page 47
        .column.four.wide
          a(href='/comics/page_48.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2048-01.png')
            h3 Page 48
        .column.four.wide
          a(href='/comics/page_49.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2049-01.png')
            h3 Page 49
        .column.four.wide
          a(href='/comics/page_50.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2050-01.png')
            h3 Page 50
        .column.four.wide
          a(href='/comics/page_51.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2051-01.png')
            h3 Page 51
        .column.four.wide
          a(href='/comics/page_52.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2052-01.png')
            h3 Page 52
        .column.four.wide
          a(href='/comics/page_53.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2053-01.png')
            h3 Page 53
        .column.four.wide
          a(href='/comics/page_54.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2054-01.png')
            h3 Page 54
        .column.four.wide
          a(href='/comics/page_55.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2055-01.png')
            h3 Page 55
        .column.four.wide
          a(href='/comics/page_56.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2056-01.png')
            h3 Page 56
        .column.four.wide
          a(href='/comics/page_57.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2057-01.png')
            h3 Page 57
