extends /src/templates/website.pug

block append title
  | Issue 03 | Comics | Kamigen | A Tropical Cyberpunk RPG

block append content
  .row#comics
    .column
      .ui.one.column.stackable.center.aligned.page.grid
        .column.four.wide
          a(href='/comics/issue_3_cover.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen Issue 03 Cover-01.png')
            h3 Cover
        .column.four.wide
          a(href='/comics/page_61.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2061-01.png')
            h3 Page 61
        .column.four.wide
          a(href='/comics/page_62.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2062-01.png')
            h3 Page 62
        .column.four.wide
          a(href='/comics/page_63.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2063-01.png')
            h3 Page 63
        .column.four.wide
          a(href='/comics/page_64.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2064-01.png')
            h3 Page 64
        .column.four.wide
          a(href='/comics/page_65.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2065-01.png')
            h3 Page 65
        .column.four.wide
          a(href='/comics/page_66.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2066-01.png')
            h3 Page 66
        .column.four.wide
          a(href='/comics/page_67.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2067-01.png')
            h3 Page 67
        .column.four.wide
          a(href='/comics/page_68.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2068-01.png')
            h3 Page 68
        .column.four.wide
          a(href='/comics/page_69.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2069-01.png')
            h3 Page 69
        .column.four.wide
          a(href='/comics/page_70.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2070-01.png')
            h3 Page 70
        .column.four.wide
          a(href='/comics/page_71.html')
            img.ui.image.fluid(src='./art/comics/SD/Kamigen%20Page%2071-01.png')
            h3 Page 71
        