extends /src/templates/comic_reader.pug

block prepend title
  - var page_title_string = "Page 73";

block prepend content
  - var image_url = '../art/comics/HD/Kamigen Page 73-01.png';
  - var next_url = '/comics/page_74.html';
  - var previous_url = '/comics/page_72.html';
