extends /src/templates/comic_reader.pug

block prepend title
  - var page_title_string = "Page 60";

block prepend content
  - var image_url = '../art/comics/HD/Kamigen Page 60-01.png';
  - var next_url = '/comics/issue_3_cover.html';
  - var previous_url = '/comics/page_59.html';
