extends /src/templates/website.pug

block append title
  | Page 42 | Comics | Kamigen | A Tropical Cyberpunk RPG

block append content
  .row
    .column
      .ui.one.column.stackable.center.aligned.page.grid
        .column.five.wide
          a(href='/comics/page_41.html') Previous
        .column.six.wide
          a(href='/comics.html') Page Gallery
        .column.five.wide
          .column.five.wide Next Page Coming soon!
  .row
    .column
      .ui.one.column.stackable.center.aligned.page.grid
        .column.sixteen.wide
          a(href='/comics.html')
            img.ui.image.fluid(src='../art/comics/HD/Kamigen Page 42-01.png')
  .row
    .column
      .ui.one.column.stackable.center.aligned.page.grid
        .column.five.wide
          a(href='/comics/page_41.html') Previous
        .column.six.wide
          a(href='/comics.html') Page Gallery
        .column.five.wide Next Page Coming soon!
