extends /src/templates/comic_reader.pug

block prepend title
  - var page_title_string = "Page 62";

block prepend content
  - var image_url = '../art/comics/HD/Kamigen Page 62-01.png';
  - var next_url = '/comics/page_63.html';
  - var previous_url = '/comics/page_61.html';
