extends /src/templates/comic_reader.pug

block prepend title
  - var page_title_string = "Page 74";

block prepend content
  - var image_url = '../art/comics/HD/Kamigen Page 74-01.png';
  - var previous_url = '/comics/page_73.html';
