extends /src/templates/website.pug

block append title
  | Page 24 | Comics | Kamigen | A Tropical Cyberpunk RPG

block append content
  .row
    .column
      .ui.one.column.stackable.center.aligned.page.grid
        .column.five.wide
          a(href='/comics/page_23.html') Previous
        .column.six.wide
          a(href='/comics.html') Page Gallery
        .column.five.wide
          a(href='/comics/page_25.html') Next
  .row
    .column
      .ui.one.column.stackable.center.aligned.page.grid
        .column.sixteen.wide
          img.ui.image.fluid(src='../art/comics/HD/Kamigen Page 24-01.png')
  .row
    .column
      .ui.one.column.stackable.center.aligned.page.grid
        .column.five.wide
          a(href='/comics/page_23.html') Previous
        .column.six.wide
          a(href='/comics.html') Page Gallery
        .column.five.wide
          a(href='/comics/page_25.html') Next
