extends /src/templates/website.pug

block append title
  | Page 37 | Comics | Kamigen | A Tropical Cyberpunk RPG

block append content
  .row
    .column
      .ui.one.column.stackable.center.aligned.page.grid
        .column.five.wide
          a(href='/comics/page_36.html') Previous
        .column.six.wide
          a(href='/comics.html') Page Gallery
        .column.five.wide
          a(href='/comics/page_38.html') Next
  .row
    .column
      .ui.one.column.stackable.center.aligned.page.grid
        .column.sixteen.wide
          a(href='/comics/page_38.html')
            img.ui.image.fluid(src='../art/comics/HD/Kamigen Page 37-01.png')
  .row
    .column
      .ui.one.column.stackable.center.aligned.page.grid
        .column.five.wide
          a(href='/comics/page_36.html') Previous
        .column.six.wide
          a(href='/comics.html') Page Gallery
        .column.five.wide
          a(href='/comics/page_38.html') Next
